
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proje</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />

    <link href="~/Css/style.css" rel="stylesheet" type="text/css" />

    <link href="~/Css/fontawesome-all.css" rel="stylesheet" />

    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


</head>


<body>
    <h1 style="color:black"></h1>
    <div class=" w3l-login-form">
        <h2>GİRİŞ YAPIN</h2>
        @using (Html.BeginForm("Gırıs", "Giris", FormMethod.Post))
        {
            <div class=" w3l-form-group">
                <label>Kullanıcı Adı:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" required="required"
                           name="KullanıcıAdı" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>ŞİFRE:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Şifre" required="required"
                           name="Sifre" />
                </div>
            </div>
            <div class="forgot">
                <button type="submit">GİRİŞ</button>
            </div>

        }


    </div>


</body>

</html>

