
@using Proje.Models
@model List<tiste>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Ogrenci.cshtml";
}

@if (Model.Count != 0)
{
    <table class="table table-bordered">

        <tr>
            <th></th>
            <th >
                
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (DateTime.Now.AddMinutes(10) >= item.Tarih)
                {
                    <td>
                        <a href="@item.link" class="btn btn-success">Katıl</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @item.Ad
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="col-sm-1 col-md-10"><h4>Tarihi: </h4>  @(item.Zaman)</td>
                            <td style="float:right"> <h4>Saati: </h4>  @(item.Saat)</td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>Hiç Dersin yok</h3>
}





